
  <header class="navbar navbar-expand-xl bg-secondary py-6 py-md-7 sticky-top">
    <div class="container">
      <a href="/">
        <img src="assets/images/DOYOGA-logo.png" class="h-30p object-fit-cover" alt="logo" />
      </a>
      <button
        class="navbar-toggler p-0"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarContent"
        aria-controls="navbarContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="material-icons text-primary-dark fs-2">
          menu
        </span>
      </button>
      <div class="collapse navbar-collapse" id="navbarContent">
        <ul class="navbar-nav mx-auto">
          <li class="nav-item">
            <a class="nav-link fw-light" href="javascript:void(0);">
              課程介紹
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link fw-light" href="javascript:void(0);">
              瑜珈空間
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link fw-light" href="javascript:void(0);">
              當月課表
            </a>
          </li>
        </ul>
        <form class="d-flex">
          <a class="btn btn-outline-primary-dark rounded-3 me-4" href="javascript:void(0);">
            立即預約
          </a>
          <a class="btn btn-outline-primary-dark rounded-3" href="javascript:void(0);">
            聯絡我們
          </a>
        </form>
      </div>
    </div>
  </header>